#header-img{
  margin-top: -20px;
  width: 150px;
  height: 150px;
}
#amazon-img{
  width: 100px;
  height: 50px;
}
#takealot-img{
  width: 100px;
  height: 50px;
}
#samsung-img{
  width: 100px;
  height: 100px;
}

#submit{
  color: white;
  background-color: black;
  border-color: black;
  border-style: outset;
  border: 2px solid black;

}


.flex-container > a {
  background-color: white;
  width: 225px;
  margin: 10px;
  text-align: center;
  line-height: 150px;
  font-size: 30px;
}
section{
  padding-bottom: 50px;
  padding-top: 50px;
}

.nav-link{
  color: inherit;
  padding: 20px;
  margin: 20px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  padding-bottom: 20px;
}

body{
  font-family: sans-serif;
}
